

.news-item {
    /* background-color: black; */
    /* height: 100%;
    width: 300px; */
    margin-left: 30%;

    text-align: left;

    font-size: 15px;
    padding: 10px;
    background-color: #F0F0F0;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 5%;
}

.search-bar input[type="text"] {
    margin-left: 0%;
    height: 40px;
    width: 400px;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 5px;
}


.search-bar button {
    display: inline-block;
    height: 48px;
    font-size: 20px;
    margin-top: 5%;
    padding: 5px;
}