
.user-profile {
    background-color: #F0F0F0;
    margin-left: 30%;
    margin-top: 50px;
    padding: 20px;
    margin-right: 10%;
    text-align: left;
}

.edit {
    margin-left: 30%;
    margin-top: 50px;
    padding: 20px;
}